<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <h3 class="title is-5" style="color: var(--oni-gold);">Oni Tech</h3>
        <p>Expert consulting in OCaml and Haskell for robust, functional software solutions.</p>
      </div>
      <div class="column is-4">
        <h3 class="title is-5" style="color: var(--oni-gold);">Links</h3>
        <ul style="list-style: none; padding: 0;">
          <li><a href="/consulting.html">Consulting Services</a></li>
          <li><a href="/blog.html">Blog</a></li>
          <li><a href="/opensource.html">Open Source</a></li>
          <li><a href="/about.html">About & Contact</a></li>
        </ul>
      </div>
      <div class="column is-4">
        <h3 class="title is-5" style="color: var(--oni-gold);">Connect</h3>
        <p>
          <a href="https://github.com/oni-tech" target="_blank">
            <span class="icon-text">
              <span class="icon"><i class="fab fa-github"></i></span>
              <span>GitHub</span>
            </span>
          </a>
        </p>
        <p>
          <a href="/atom.xml">
            <span class="icon-text">
              <span class="icon"><i class="fas fa-rss"></i></span>
              <span>RSS Feed</span>
            </span>
          </a>
        </p>
      </div>
    </div>
    <hr style="background-color: var(--oni-grey);">
    <div class="content has-text-centered">
      <p>&copy; 2025 Oni Tech. All rights reserved.</p>
    </div>
  </div>
</footer>
